# Using the user data perform svc model

In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [15]:
datasets = pd.read_csv(r"E:\AI-ML PYTHON\User_Data - Arindam Dev.csv")

In [16]:
datasets.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [17]:
X = datasets.iloc[:,[2,3]]
y = datasets.iloc[:,4]

In [18]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [19]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 3,test_size = 0.25)

In [21]:
## I got to know before applying svm model very necessity to scale or normalize it 
from sklearn import preprocessing 

X_train = preprocessing.scale(X_train)

X_test = preprocessing.scale(X_test)

In [22]:
from sklearn.svm import SVC
clf = SVC(kernel='linear')
clf.fit(X_train,y_train)

SVC(kernel='linear')

In [24]:
y_pred = clf.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score
Accuracy = accuracy_score(y_test,y_pred)
print(f" Accuracy{Accuracy:6.2f}")

 Accuracy  0.85

In [26]:
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

recall = recall_score(y_test,y_pred)
precision = precision_score(y_test,y_pred)

print(f"recall{recall:6.2f}")
print(f"precision{precision:6.2f}")

recall  0.71
precision  0.83

In [30]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[60  5]
 [10 25]]

In [31]:
from sklearn.metrics import classification_report
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.86      0.92      0.89        65
           1       0.83      0.71      0.77        35

    accuracy                           0.85       100
   macro avg       0.85      0.82      0.83       100
weighted avg       0.85      0.85      0.85       100