## Q: ANOVA TEST CASE

In [1]:
import pandas as pd 
import numpy as np

In [2]:
Pat = [5,4,4,3,9,4]
Jack = [4,8,7,5,1,5]
Alex =[9,9,8,10,4,10]

In [3]:
all_scores = Pat+Jack+Alex
participant_names = (['Pat'] * len(Pat)) + (['Jack'] * len(Jack)) + (['Alex'] * len(Alex))

In [4]:
df = pd.DataFrame({'Scores':all_scores,'participants':participant_names})
df

    Scores participants
0        5          Pat
1        4          Pat
2        4          Pat
3        3          Pat
4        9          Pat
5        4          Pat
6        4         Jack
7        8         Jack
8        7         Jack
9        5         Jack
10       1         Jack
11       5         Jack
12       9         Alex
13       9         Alex
14       8         Alex
15      10         Alex
16       4         Alex
17      10         Alex

In [5]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [6]:
lm = ols('Scores  ~ participants',data = df).fit()
table = sm.stats.anova_lm(lm)
print(table)

                df     sum_sq    mean_sq         F    PR(>F)
participants   2.0  46.777778  23.388889  4.488273  0.029668
Residual      15.0  78.166667   5.211111       NaN       NaN

In [7]:
means = df.groupby('participants').mean()
means

                Scores
participants
Alex          8.333333
Jack          5.000000
Pat           4.833333

In [8]:
overall_mean = df['Scores'].mean()
overall_mean

6.055555555555555

In [9]:
df['overall_mean'] = overall_mean

In [10]:
ss_total = sum((df['Scores'] - df['overall_mean'])**2)
ss_total

124.94444444444446

In [11]:
means = df.groupby('participants').mean()
group_means = means.rename(columns = {'Scores': 'group_means'})
group_means

              group_means  overall_mean
participants
Alex             8.333333      6.055556
Jack             5.000000      6.055556
Pat              4.833333      6.055556

In [12]:
df= df.merge(group_means, left_on = 'participants', right_index = True)
df

    Scores participants  overall_mean_x  group_means  overall_mean_y
0        5          Pat        6.055556     4.833333        6.055556
1        4          Pat        6.055556     4.833333        6.055556
2        4          Pat        6.055556     4.833333        6.055556
3        3          Pat        6.055556     4.833333        6.055556
4        9          Pat        6.055556     4.833333        6.055556
5        4          Pat        6.055556     4.833333        6.055556
6        4         Jack        6.055556     5.000000        6.055556
7        8         Jack        6.055556     5.000000        6.055556
8        7         Jack        6.055556     5.000000        6.055556
9        5         Jack        6.055556     5.000000        6.055556
10       1         Jack        6.055556     5.000000        6.055556
11       5         Jack        6.055556     5.000000        6.055556
12       9         Alex        6.055556     8.333333        6.055556
13       9         Alex        6.055556     8.333333        6.055556
14       8         Alex        6.055556     8.333333        6.055556
15      10         Alex        6.055556     8.333333        6.055556
16       4         Alex        6.055556     8.333333        6.055556
17      10         Alex        6.055556     8.333333        6.055556

In [13]:
ss_residual = sum((df['Scores'] - df['group_means'])**2)
ss_residual

78.16666666666666

In [14]:
ss_explained = sum((df['overall_mean_x']- df['group_means'])**2)
ss_explained

46.77777777777779

In [15]:
n_groups = len(set(df['participants']))
n_groups

3

In [16]:
n_obs = df.shape[0]
n_obs

18

In [17]:
df_residual = n_obs - n_groups

In [18]:
ms_residual = ss_residual / df_residual
ms_residual

5.21111111111111

In [19]:
df_explained = n_groups - 1
ms_explained = ss_explained / df_explained
ms_explained

23.388888888888896

In [20]:
f = ms_explained / ms_residual
f

4.488272921108744

In [21]:
import scipy.stats
p_value = 1 - scipy.stats.f.cdf(f, df_explained, df_residual)
p_value

0.029667763955533277

In [ ]:
SO REJECT THE NULL HYPOTHESIS