### Q1 EXTRACT COMPANY NAME FROM GIVEN USER AND COMPANY COMPOSITION NAME IN EMAIL

In [65]:
import re
s=input(str("enter the username of mail: "))
lst =re.findall('@\S+',s)
print(lst)
print(lst[0][1:])

enter the username of mail: sharath@google.com
['@google.com']
google.com

In [66]:
def extract_company(email):
    return email.split('@')[-1].split('.')[0]
extract_company(input(str("enter the username of mail: ")))

enter the username of mail: sharath@google.com

'google'

In [67]:
def extract_company(email):
    index_of_at = email.find('@')

    return email[index_of_at+1:email.find('.')]  #start and stop method slicing as per my research
extract_company(input(str("enter the username of mail: ")))

enter the username of mail: sharath@microsoft.com

'microsoft'

In [68]:
def extract_company(email):
    x= re.findall(r"\@(.*?)\.", email)  # (start of extraction char)stop of extraction char and *? repeat zero or more times char
    return x[0]
extract_company(input(str("enter the username of mail: ")))

enter the username of mail: sharath@facebook.com

'facebook'

### Q2 PROGRAM TO TAKE INPUT AS COMMA SEPARATED SEQUENCE OF WORDS AND SORT IT IN ALPHABETICALLY

In [69]:
items=[x for x in input("enter data to sort ").split(',')]
items.sort()
print ("Sorted data are ",' '.join(items))

enter data to sort zebra,rabbit,elephant,fox,tiger,dog,cat,snake
Sorted data are  cat dog elephant fox rabbit snake tiger zebra

### Q3 CREATE OWN JUPYTER NOTEBOOK FOR SETS

# --SETS--

In [70]:
# create a set
thisset = {"apple", "banana", "cherry"}   
print(thisset)

{'apple', 'banana', 'cherry'}

In [71]:
# Sets are unordered, so you cannot be sure in which order the items will appear.
# ACCESSING 
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [72]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [73]:
# ADD ITEMS BUT CANNOT CHANGE ITEMS
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [74]:
# ADD MULTIPLE ITEMS USING UPDATE
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'banana', 'mango', 'orange', 'cherry', 'apple'}

In [75]:
# LENGTH OF SETS OR NO. OF ITEMS
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [77]:
# REMOVE ITEM OR DISCARD ITEM
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}
{'apple', 'cherry'}

In [78]:
# POP TO REMOVE LAST ITEM BUT SETS ARE UNOREDERED
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [79]:
# CLEAR
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [81]:
# DEL IT RAISES ERROR COZ AS LONG AS U DEL SET NO LONGER THE SET AVAILABLE
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [82]:
# JOIN TWO SETS
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'c', 3, 'b', 'a'}

In [83]:
# UPDATE ONE SET INTO OTHER SET
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'c', 3, 'b', 'a'}

In [85]:
# USING THE SET() CONSTRUCTOR 
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

### Q4 GIVEN LIST 1 TO N-1 AND FIND MISSING NO. IN THE LIST

In [94]:
def getMissingNo(A):
    n = len(A)
    total = (n + 1 )*(n + 2)/2
    sum_of_A = sum(A)
    return total - sum_of_A
A = [1, 2, 4, 5, 6]
miss = getMissingNo(A)
print(miss)

3.0

### Q5 In given list remove duplicates from it and set in order

In [1]:
# assigning test_list to res which are not in res
test_list = [4,5,3,1,4,2,3,1,2,7,8,9,] 
print ("The original list is : " +  str(test_list)) 
  
# using list comprehension 
res = [] 
[res.append(x) for x in test_list if x not in res] 
  
# printing list after removal  
print ("The list after removing duplicates : " + str(res))

The original list is : [4, 5, 3, 1, 4, 2, 3, 1, 2, 7, 8, 9]
The list after removing duplicates : [4, 5, 3, 1, 2, 7, 8, 9]

In [2]:
# initializing list 
test_list = [1, 5, 3, 6, 3, 5, 6, 1] 
print ("The original list is : " +  str(test_list)) 
  
# converting list to dict as keys 
# so dict removes duplicates and put it in order
# then again converting list to dictionary
res = list(dict.fromkeys(test_list)) 
  
# printing list after removal  
print ("The list after removing duplicates : " + str(res))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 5, 3, 6]